</div> <!-- End of layout-container -->
</div> <!-- End of layout-wrapper -->
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- Node Waves JS -->
<script src="/assets/vendor/libs/node-waves/node-waves.js"></script>

<!-- Perfect Scrollbar JS -->
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<!-- Typeahead JS -->
<script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>

<!-- Menu JS -->
<script src="/assets/vendor/js/menu.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Tagify JS -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>
</html>
