<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex justify-content-center py-4 flex-md-row flex-column">
    <div style="text-align: center;">
      © <script>document.write(new Date().getFullYear());</script>
      <a href="https://turistik.com/" target="_blank">Turistik</a>
    </div>
  </div>
</footer>
